# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
foo.txt
# Ignore (generated) html files,
*.html
# except foo.html which is maintained by hand.
!foo.html
# Ignore objects and archives.
*.[oa]
# Ignore folder Debug
/Debug/*
/cmpe220macroprocessor/Debug/*
/ipch
/ipch/*

#ignore all .tLogs
*.tlog

# ignore compiled or derived files, or user preferences
*.o
*.so
*.sdf
*.suo
*.user
